<div id="footer-top" class="section theme-primary-darken-2">
  <div class="container-full">
    <div class="row">
      <div class="col s12 site-map">
        <hgroup>
          <h5>Karen Wade</h5>
        </hgroup>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">The Conversation</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/theConversation.html" class="home">The Conversation</a>
            </div>
          </li>
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Coaching</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/lifeCoaching.html" class="home">Coaching</a>
              <a href="/lifeCoaching.html">Life</a>
              <a href="/lifeCoaching.html">Relationship</a>
              <a href="/lifeCoaching.html">Executive</a>
              <a href="/lifeCoaching.html">Financial</a>
            </div>
          </li>
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Events</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/events.html" class="home">Events</a>
              <a href="/events.html">Coming Soon</a>
            </div>
          </li>
          <li>
            <div class="collapsible-header" role="button">
              <span class="home">Portal</span>
              <img alt="svg" src="assets/media/svg/plus.svg" onload="SVGInject(this)">
            </div>
            <div class="collapsible-body">
              <a href="/about.html">About</a>
              <a href="/contact.html">Contact Us</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer-bottom" class="section theme-primary-darken-3">
  <div class="container-full">
    <div class="row">
      <div class="col s12 d-flex">
        <ul class="legal-copyright">
          <li class="copyright">&copy; <span id="date"></span>&nbsp; Karen Wade</li>
          <li>
            <a href="/code-of-conduct">Code of Conduct</a>
          </li>
          <li>
            <a href="/medical-disclaimer">Medical Disclaimer</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms">Terms & Conditions</a>
          </li>
        </ul>
        <ul class="social-media">
          <li>
            <a href="javascript:">
              <img alt="Karen Wade - YouTube" src="assets/media/svg/youtube.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Karen Wade - Instagram" src="assets/media/svg/instagram.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Karen Wade - Facebook" src="assets/media/svg/facebook.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Karen Wade - Twitter" src="assets/media/svg/twitter.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Karen Wade - Linkedin" src="assets/media/svg/linkedin.svg" onload="SVGInject(this)">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
